[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "quallmer"]
	path = quallmer
	url = https://github.com/quallmer/quallmer
[submodule "quallmer.app"]
	path = quallmer.app
	url = https://github.com/quallmer/quallmer.app
